<%= form_for(@user, url: sessions_path, method: 'post') do |f| %>
  <div class="row">
    <%= f.label(:email, class: 'u-pull-left') %>
    <%= f.text_field(:email, size: 30, class: 'u-full-width') %>
  </div>
  <div class="row">
    <%= f.label(:password, class: 'u-pull-left') %>
    <%= f.password_field(:password, size: 30, class: 'u-full-width') %>
  </div>
  <div class="error row">
    <%= @error %>
  </div>
  <div class="row">
    <div class="eight columns">&nbsp;</div>
    <div class="four columns text-center">
      <%= submit_tag(t('.login'), class: 'u-full-width') %>
    </div>
  </div>
<% end %>
