<%= form_tag("/users", method: "post") do %>
  <table id="signup-form">
    <tr>
      <td>
        <%= label_tag(:email) %>
      </td>
      <td>
        <%= text_field_tag(:email, nil, size: 30) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag(:password) %>
      </td>
      <td>
        <%= password_field_tag(:password, nil, size: 30) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag(:confirm_password) %>
      </td>
      <td>
        <%= password_field_tag(:confirm_password, nil, size: 30) %>
      </td>
      <td>
    </tr>
    <tr>
      <td class="footer" colspan="2">
        <%= link_to t('.login'), new_users_path %>
        <%= submit_tag(t('.signup')) %>
      </td>
    </tr>
  </table>
<% end %>
